@import '../../scss/vars';

.btnIcon {
	display: inline-block;
	padding: 8px;
	border-radius: 8px;
	background-color: $color-searing-gorge-brown;
	cursor: pointer;
	margin: 0;
	border: none;
	
	> img {
		display: block;
		fill: $color-swedish-yellow;
	}
}

.dark {
	background-color: $color-searing-gorge-brown;
}

.light {
	background-color: $color-peach-crayon;
}