@import '../../scss/vars'; 

.box {
	margin: 0 5px;
}

.bank {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 160px;
	background-color: $color-coconut;
	padding-top: 8px;
	border-radius: 12px 12px 0 0;
	margin: auto;
}

.count {
	color: $color-beaming-sun;
	margin-left: 8px;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
}

.list, .list-bg {
	border-radius: 8px;
}

.list-bg {
	padding: 10px 4px;
	background-color: $color-coconut;
}

.list {
	background-color: $color-peach-crayon;
	padding: 8px 0;
}